// Colors;

$orange-color: #FFC59E;
$brown-color: #59443F;
$text-color: #080606;
$background-color: #FFFEFE;
$brown-light: #C3B9B5;
$brown-background: #EDE9E8;

// Fonts;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Schoolbell', sans-serif;
